.header {
    display: flex ;
    justify-content: space-around;
}

.logo {
    background-color: blue;
}

.menu ul {
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
}

.botao {
    background-color: aqua;
}
